
.marquee-wrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    .marquee {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        animation: marquee 8s linear infinite;
        span {
            display: inline-block;
            font-size: 3rem;
            padding-right: 2rem;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
