h1 {
    font-size: 3rem;
    text-wrap: nowrap;
}

.marquee-wrapper {
    max-width: 100%;
    overflow: hidden;
    .marquee {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        animation: marquee 10s linear infinite;
        h1 {
            display: inline-block;
            text-wrap: nowrap;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}
